{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form.username.label}}
            {{form.username}}
            {{form.username.help_text}}
            {{form.username.errors}}
        </div>

        <div class="form-group">
            {{form.password.label}}
            {{form.password}}
            {{form.password.errors}}
        </div>

        <input type="submit" value="Sign In">

    </form>
</div>
{% endblock %}