{% extends 'base.html' %}

{% block content %}

<section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="" class="bg-light p-5 contact-form" method="post">
                        <a class="navbar-brand center" href="#">Stories<span>.</span></a>
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <div class="form-group">
                            {{form.first_name}}
                            <p>{{form.first_name.help_text}}</p>
                            <p>{{form.first_name.errors}}</p>
                        </div>
                        <div class="form-group">
                            {{form.last_name}}
                            <p>{{form.last_name.help_text}}</p>
                            <p>{{form.last_name.errors}}</p>
                            <!-- <input type="text" class="form-control" placeholder="Last name"> -->
                        </div>
                        <div class="form-group">
                            {{form.username}}
                            <small>{{form.username.help_text}}</small>
                            <p>{{form.username.errors}}</p>
                            <!-- <input type="text" class="form-control" placeholder="Username"> -->
                        </div>
                        <div class="form-group">
                            {{form.email}}
                            <p>{{form.email.help_text}}</p>
                            <p>{{form.email.errors}}</p>
                            <!-- <input type="text" class="form-control" placeholder="Email"> -->
                        </div>
                        <div class="form-group">
                            {{form.password}}
                            <p>{{form.password.help_text}}</p>
                            <p>{{form.password.errors}}</p>
                            <!-- <input type="text" class="form-control" placeholder="Password"> -->
                        </div>
                        <div class="form-group">
                            {{form.confirm_password}}
                            <p>{{form.confirm_password.help_text}}</p>
                            <p>{{form.confirm_password.errors}}</p>
                            <!-- <input type="text" class="form-control" placeholder="Confirm password"> -->
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}