<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'books' %}" method="get">
        <input type="text" name="search">
        <input type="submit" value="Axtar">
    </form>
    <a href="{% url 'books' %}">Sifirla</a>
    
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Page Count</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author.full_name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.page_count}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>